[submodule "themes/ananke"]
	path = themes/ananke
	url = https://ghproxy.net/https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/Diary"]
	path = themes/Diary
	url = https://ghproxy.net/https://github.com/AmazingRise/hugo-theme-diary.git
[submodule "themes/archie"]
	path = themes/archie
	url = https://ghproxy.net/https://github.com/athul/archie
[submodule "themes/zzo"]
	path = themes/zzo
	url = https://ghproxy.net/https://github.com/zzossig/hugo-theme-zzo.git
